
@{
    ViewData["Title"] = "Index";
}

<h1>Producto</h1>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Nuevo
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Formulario De Registro</h5>
                        <button type="button" id="btnCloseModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="frmRegister">
                        <input type="hidden" class="dataFrmCategory" id="ProductId" name="ProductId" value="0" />
                        <div class="modal-body">
                            <label>Nombre:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-edit"></i></span>
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="Escribe el nombre...">
                            </div>
                            <label>Categoria:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-table"></i></span>
                                <select class="form-control dataFrmCategory" id="CategoryId" name="CategoryId"></select>
                            </div>
                            <label>Proveedor:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-dolly-flatbed"></i></span>
                                <select class="form-control dataFrmCategory" id="SupplierId" name="SupplierId"></select>
                            </div>
                            <label>Descripción:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-edit"></i></span>
                                <input type="text" id="Description" name="Description" class="form-control dataFrmCategory" placeholder="Escribe la descripción...">
                            </div>
                            <label>Precio:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                <input type="text" id="Price" name="Price" class="form-control dataFrmCategory" placeholder="Escribe el precio...">
                            </div>
                            <label>Cantidad:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fas fa-box-open"></i></span>
                                <input type="text" id="Quantity" name="Quantity" class="form-control dataFrmCategory" placeholder="Escribe la cantidad...">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <partial name="~/Views/Home/_Tabla.cshtml" />
            </div>
        </div>
    </div>
</div>
<script src="~/js/generic.js"></script>
<script src="~/js/peticionHttp.js"></script>
<script>
    window.onload = function () {
        GetAll(1);
        peticion.get('api/categoryApi/', (data) => {
            dom.select(data['data'], 'CategoryId', 'categoryId', 'name');
        })
        peticion.get('api/supplierApi/', (data) => {
            dom.select(data['data'], 'SupplierId', 'supplierId', 'name');
        })
    }
    function GetAll(page) {
        peticion.get('api/ProductAPI/' + page, function (result) {
            let data = result['data'];
            dom.table(data['items'], ['ID', 'NOMBRE', 'DESCRIPCION', 'PROVEEDOR', 'CATEGORIA'],
                ['productId', 'name', 'description', 'supplierName', 'categoryName'], 'productId', true, true, 'exampleModal');
            dom.panelPagination(data);
        })
    }
    function BackPage(page) {
        if (page > 0)
            GetAll(page);
    }
    function NextPage(page) {
        GetAll(page);
    }
    form.submit('frmRegister', function () {
        let product = {
            'ProductId': form.getTextInputValue('ProductId'),
            'Name': form.getTextInputValue('Name'),
            'CategoryId': form.getTextInputValue('CategoryId'),
            'SupplierId': form.getTextInputValue('SupplierId'),
            'Description': form.getTextInputValue('Description'),
            'Price': form.getTextInputValue('Price'),
            'Quantity': form.getTextInputValue('Quantity'),
        }
        if (form.validateEmpty('form-control')) {
            if (document.getElementById('ProductId').value > 0) {
                peticion.put('api/ProductAPI/modificar', product, function (data) {
                    if (Number.parseInt(data['data']) > 0) {
                        document.getElementById('btnCloseModal').click();
                        message.success('Se guardo el producto');
                        GetAll(1);
                    } else {
                        message.warning(data['message'])
                    }
                });
            } else {
                peticion.post('api/ProductAPI/insertar', product, function (data) {
                    if (Number.parseInt(data['data']) > 0) {
                        document.getElementById('btnCloseModal').click();
                        message.success('Se guardo el producto');
                        GetAll(1);
                    } else {
                        message.warning(data['message'])
                    }
                });
            }
        }
    })
    function GetRegister(id) {
        peticion.get('api/ProductAPI/obtenerPorId?id=' + id, function (result) {
            if (result['data'] != null) {
                form.setDataForm(result['data'], ['ProductId', 'Name', 'CategoryId', 'SupplierId', 'Description', 'Price','Quantity'])
            } else {
                message.warning(result['message']);
            }
        })
    }
</script>